@import "tailwindcss";

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@theme {
  --color-primary: #16171d;
  --color-secondary: #f5c249;
  --color-nutral1: #ffffff;
  --color-nutral2: #787a8d;
  --color-nutral3: #a7aebf;

  --font-poppins: Poppins;
}
